$primary: #B0B68F;
.navbar {
  background-color: $primary;
  border-radius: 15px;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  z-index: 50;
  list-style-type: none;

  a:first-of-type{
    margin-left: auto;
  }

  a {
    color: white;
    margin: 0 2em;
    padding: 0.5em;
    text-decoration: none;
    font-style: MediumItalic;
  }
  a:hover{
    border-bottom: 1px dotted white;
  }
}
